<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }
</style>


<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="home">Home</a>
    <a class="nav-item nav-link" routerLink="register">Registration</a>
  </div>

<!--  <ul class="nav navbar-nav">-->
<!--    <li class="dropdown"> &lt;!&ndash; {1} &ndash;&gt;-->
<!--      <a class="dropdownToggle" role="button"> &lt;!&ndash; {2} &ndash;&gt;-->
<!--        Dropdown <span class="caret"></span></a>-->
<!--      <ul class="dropdown-menu"> &lt;!&ndash; {3} &ndash;&gt;-->
<!--        <li><a href="#">Action</a></li>-->
<!--        <li><a href="#">Another action</a></li>-->
<!--        <li><a href="#">Something else here</a></li>-->
<!--        <li role="separator" class="divider"></li>-->
<!--        <li><a href="#">Separated link</a></li>-->
<!--        <li role="separator" class="divider"></li>-->
<!--        <li><a href="#">One more separated link</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--  </ul>-->
</nav>

<router-outlet></router-outlet>
